@font-face {
    font-family: 'good_timesregular';
    src: url('../fonts/good_times_rg-webfont.eot');
    src: url('../fonts/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/good_times_rg-webfont.woff2') format('woff2'),
         url('../fonts/good_times_rg-webfont.woff') format('woff'),
         url('../fonts/good_times_rg-webfont.ttf') format('truetype'),
         url('../fonts/good_times_rg-webfont.svg#good_timesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'good_timesregular';
}
header{
	width: 100%;
	background-color:#fff; 
	border-top:4px solid #73CA63;
	font-size: 0.8em; 
	text-align: center;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75); 
	z-index: 2;
	position: fixed;
}
#logo{
	display: inline-block;
	margin-left: 5em;
}
nav{
	display: inline-block;
	padding-bottom: 0.3em;
}
nav ul{
	display:inline-block;
	position-top:0.625em;
}
nav ul li{
	display: inline-block;
	padding-right:3em; 
	font-size: 1em;
}
nav ul li a{
	display: inline-block;
	text-decoration: none;
	color:#4d4d4d;;

}
nav ul li a:hover{
	display: inline-block;
	text-decoration: none;
	color:#000;
	border-bottom: 4px solid #73CA63;
}
#slider{
	margin: 0px auto;
	width: 100%;
	background-color: #c4e3ab;

}

#contenido{
	background-image: url(../img/background.jpg);
	color:#4d4d4d;
	font-family: arial;
	margin:0px auto;
	width: 62.5%;
}
#contenido h1{
	font-size: 0.8em;
	text-align: center;
	font-family: 'good_timesregular';
}
#contenido h2{
	font-size: 0.9em;
	padding-left:1.9em; 
}
#contenido span{
	color:#73CA63;
}
#contenido a{
	text-decoration: none;
	color:#73CA63;
	font-weight: bold;
}
#contenido a:hover{
	color: #4d4d4d;
	font-weight: bold;
}
#contenido ul{
	list-style-image: url(../img/vinetaVerde.png);
}
#contenedor2{
	overflow: hidden;
	width: 100%;
}
#flotanteizquierda2{
	float: left; 
	width: 25%; 
}
#flotantederecha2{
	float: right;
	width: 75%;
}

footer{
	border-top: 4px solid #73CA63;
	-webkit-box-shadow: 0px -7px 17px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -7px 17px -6px rgba(0,0,0,0.75);
	box-shadow: 0px -7px 17px -6px rgba(0,0,0,0.75);

}
#contenidoFooter{
	margin:0px auto;
	width: 62.5%;
}
article{
	display:inline-block;
}
article ul{
	list-style-image: url(../img/vinetaNaranja.png);
}

article li a{
	text-decoration: none;
	color:#4d4d4d;
}


